<div class="w-full shadow-md rounded-xl px-10 py-4 overflow-auto max-h-50 h-full">
    <div class="flex flex-col gap-3">
        <div class="flex flex-row gap-5 justify-between items-center">
            <p class="truncate font-semibold tracking-tight">{{ task.title}}</p>
            <button class="cursor-pointer" (click)="handleDelete()">
                <app-icon [icon]="Icons.Trash"></app-icon>
            </button>
        </div>
        <div>
            <span class="text-sm">{{ task.description }}</span>
        </div>
    </div>
</div>