<div class="flex flex-col sm:flex-row gap-5 mt-5">
    <app-filters></app-filters>
    <div class="flex-1">
        <app-menu></app-menu>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
            <div *ngFor="let task of taskList">
                <app-card [task]="task" (deleted)="deleteTask($event)"></app-card>
            </div>
        </div>
    </div>
    <app-modal [icons]="icons" *ngIf="isOpen()">
        <form [formGroup]="taskForm" class="flex flex-col gap-4" (ngSubmit)="handleCreateTask()">
            <label class="label flex flex-col gap-2">Title <input formControlName="title" type="text" class="input"
                    required /></label>
            <div *ngIf="taskForm.controls.title.invalid && taskForm.controls.title.touched" class="error">
                Title is required.
            </div>
            <label class="label flex flex-col gap-2">Description <textarea formControlName="description"
                    class="input"></textarea></label>
            <label class="label flex flex-col gap-2">Category <input formControlName="category" type="text"
                    class="input" /></label>
            <div class="flex justify-end gap-4">
                <button class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            </div>
        </form>
    </app-modal>
</div>